@model WebApp.MVC.Models.UsuarioRegistro

@{
    ViewData["Title"] = "Registro";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">

            <h4>Registre-se e comece a comprar hoje</h4>

            <hr />

            <vc:summary></vc:summary>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SenhaConfirmacao" class="control-label"></label>
                <input asp-for="SenhaConfirmacao" type="password" class="form-control" />
                <span asp-validation-for="SenhaConfirmacao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
